<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--FRICTION-->
    <!-- <gazebo reference="base_link">
        <mu1>0.001</mu1>
        <mu2>0.001</mu2>
    </gazebo>

    <gazebo reference="base_to_wheel_front_left">
        <mu1>0.001</mu1>
        <mu2>0.001</mu2>
    </gazebo>

    <gazebo reference="base_to_wheel_front_right">
        <mu1>0.001</mu1>
        <mu2>0.001</mu2>
    </gazebo>

    <gazebo reference="base_to_wheel_back_left">
        <mu1>0.001</mu1>
        <mu2>0.001</mu2>
    </gazebo>

    <gazebo reference="base_to_wheel_back_right">
        <mu1>0.001</mu1>
        <mu2>0.001</mu2>
    </gazebo> -->

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

            <!-- <ros>
                <namespace> </namespace>
            </ros> -->

            <num_wheel_pairs>2</num_wheel_pairs>
            
            <left_joint>base_to_wheel_front_left</left_joint>
            <right_joint>base_to_wheel_front_right</right_joint>

            <left_joint>base_to_wheel_back_left</left_joint>
            <right_joint>base_to_wheel_back_right</right_joint>
        
            <wheel_separation>0.28</wheel_separation>
            <wheel_separation>0.28</wheel_separation>
            <wheel_diameter>0.03</wheel_diameter>
            <wheel_diameter>0.03</wheel_diameter>


            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            

            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>

</robot>
